@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 47.4% 11.2%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 47.4% 11.2%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 100% 50%;
		--destructive-foreground: 210 40% 98%;

		--ring: 215 20.2% 65.1%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-feature-settings:
			"rlig" 1,
			"calt" 1;
	}
}

.h0 {
	@apply text-2xl md:text-3xl;
}

.h1,
h1 {
	@apply text-[36px] sm:text-[45px] lg:text-[57px];
}

.h15 {
	@apply text-[24px] sm:text-[30px] lg:text-[40px];
}

.h2,
h2 {
	@apply text-[24px] sm:text-[28px] lg:text-[32px];
}

.h3,
h3 {
	@apply text-[14px] sm:text-[16px] lg:text-[22px];
}

.h4,
h4 {
	@apply text-[12px] sm:text-[14px] lg:text-[16px];
}

.h5,
h5 {
	@apply text-[11px] sm:text-[12px] lg:text-[14px];
}

.h6,
h6 {
	@apply text-[10px] sm:text-[11px] lg:text-[12px];
}

.h7 {
	@apply text-[9px] sm:text-[10px] lg:text-[11px];
}
